*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(180, 174, 174);
}
h1{
    color: red;
}
h2{
    color: white;
    text-align: center;
}
.error{
    display: flex;
    justify-content: center;
}
.error-texto{
    display: flex;
    justify-content: center;
}
.error-volver{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
}